# Gitlab Runner level hosts var
hostAliases:
 - ip: "10.0.0.2"
   hostnames:
    - "gitlab.local"
locked: "false"
logLevel: debug
tags: "linux,kubernetes"
rbac:
 create: true
 rules:
 - resources: ["pods", "secrets", "configmaps", "pods/attach", "pods/exec"]
   verbs: ["*"]
  #  verbs: ["get", "list", "watch", "create", "patch", "delete", "update", "attach"]

runners:
  config: |
    [[runners]]
      executor = "kubernetes"
      shell = "bash"
      
      [runners.kubernetes.node_selector]
        "kubernetes.io/os" = "linux"

      [runners.kubernetes]
        namespace = "default"
        poll_interval = 30
        poll_timeout = 3600
        [[runners.kubernetes.host_aliases]]
          ip = "10.0.0.2"
          hostnames = ["gitlab.local"]
        [[runners.kubernetes.volumes.secret]]
          name = "kaniko-secret"
          mount_path = "/secret"
          read_only = true