rbac:
 create: true
 rules:
 - apiGroups: [""]
   resources: ["pods/attach","pods/exec"]
   verbs: ["create", "patch", "delete"]
 - apiGroups: [""]
   resources: ["pods","services"]
   verbs: ["get","watch","create", "delete"]
 - apiGroups: [""]
   resources: ["configmaps","secrets"]
   verbs: ["get","create","update","delete"]

runners:
  tags: "linux,kubernetes"
  config: |
    [[runners]]
      executor = "kubernetes"
      limit = 30
      shell = "bash"
      [runners.kubernetes.node_selector]
        "node_pool" = "linux-pool"

      [runners.kubernetes]
        namespace = "default"
        poll_interval = 30
        poll_timeout = 3600