rbac:
 create: true
 rules:
 - apiGroups: [""]
   resources: ["pods/attach","pods/exec"]
   verbs: ["create", "patch", "delete", "get"]
 - apiGroups: [""]
   resources: ["pods","services"]
   verbs: ["get","watch","create", "delete"]
 - apiGroups: [""]
   resources: ["configmaps","secrets"]
   verbs: ["get","create","update","delete"]

runners:
  tags: "linux,kubernetes"