rbac:
 create: true
 rules:
 - resources: ["pods", "secrets", "configmaps", "pods/attach", "pods/exec"]
   verbs: ["*"]
  #  verbs: ["get", "list", "watch", "create", "patch", "delete", "update", "attach"]

runners:
  tags: "linux,kubernetes"
  config: |
    [[runners]]
      executor = "kubernetes"
      shell = "bash"
      [runners.kubernetes.node_selector]
        "node_pool" = "linux-pool"

      [runners.kubernetes]
        namespace = "default"
        poll_interval = 30
        poll_timeout = 3600   